name: Update activity data on README.md

on:
  # schedule:
  #   - cron: '0 0,12,19 * * *'
  workflow_dispatch:

jobs:
  activity:
    runs-on: ubuntu-latest
    name: Update recent activity

    steps:
      - uses: actions/checkout@v3
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          MAX_LINES: 8
